@import '~bootstrap/scss/bootstrap';

body {
  background-color: #42a4f5;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;

}
.gameboard {
align-items: center;

}

#create-game {
  justify-content:center;
  border: none;
  background-color: pink;
  text-color: white;



  }


.cell {
  height: 8rem;
  border: 1px solid;
  margin: 0 auto;
  border: 6px solid #ffff;

  &:hover {
    background-color: pink;
  }
}

.container {
  display: flex;
  height: 90vh;
  margin: auto;
  align-items: baseline;
  justify-content: center;
}

.navbar {
  text-align: center;
  padding: 20px;
  background-color: #D3D3D3;
}



#sign-up {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

#sign-in {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.after-signin, .after-signingb {
  display: none;
}
.show {
 visibility: visible;
}
